stages:
  - test
  - build
  - deploy

# book:
#   stage: deploy
#   tags:
#     - linux
#   script:
#     - npm ci --no-audit
#     - node release/book.js

generous:
  stage: deploy
  tags:
    - linux
  script:
    - npm ci --no-audit
    - node release/generous.js

test:linux:
  stage: test
  tags:
    - linux
  script:
    - npm ci --no-audit
    - node release/test.js

test:macos:
  stage: test
  tags:
    - darwin-arm64
  script:
    - npm ci --no-audit
    - node release/test.js

test:windows:
  stage: test
  tags:
    - windows
  script:
    - npm ci --no-audit
    - node release/test.js

build:linux:x86_64:
  stage: build
  tags:
    - linux
  script:
    - npm ci --no-audit
    - node release/build.js --os linux --arch x86_64
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts

build:darwin:x86_64:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os darwin --arch x86_64
  tags:
    - darwin-arm64
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts

build:darwin:arm64:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os darwin --arch arm64
  tags:
    - darwin-arm64
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts

build:darwin:universal:
  stage: build
  needs:
    - build:darwin:x86_64
    - build:darwin:arm64
  tags:
    - darwin-arm64
  script:
    - mkdir -p artifacts/darwin-universal
    - lipo -create -output artifacts/darwin-universal/butler artifacts/darwin-amd64/butler artifacts/darwin-arm64/butler
    - file artifacts/darwin-universal/butler
    - 'codesign --deep --force --verbose --sign "Developer ID Application: itch corp. (AK2D34UDP2)" artifacts/darwin-universal/butler'
    - codesign --verify -vvvv artifacts/darwin-universal/butler
    - artifacts/darwin-universal/butler -V
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts/darwin-universal

build:windows:i686:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os windows --arch i686
  tags:
    - windows
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts

build:windows:x86_64:
  stage: build
  script:
    - npm ci --no-audit
    - node release/build.js --os windows --arch x86_64
  tags:
    - windows
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts

deploy-itchio:
  stage: deploy
  tags:
    - linux
  script:
    - npm ci --no-audit
    - node release/deploy.js
