name: Generous Docs

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build generous tool
        run: go build -v ./butlerd/generous

      - name: Generate docs
        run: go run ./butlerd/generous godocs
